*{
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
}



body{
    background-color: #333;
    color: #333;
    font-family: 'raleway', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.footer{
    width: 450px;
    text-align: center;
    display: block;
    margin :15px auto 30px auto;
    font-size: 0.8em;
    color: #fff;
}
.footer a {
    font-weight: 500;
    text-decoration: none;
    color: #fff;
}

#heading-box{
    text-align: center;
    margin-bottom: 5px;
    border-radius: 3px;
    position: relative;
    width: 500px;
    height: 20px;
    padding: 10px 50px;
    display: flexbox;
    background-color: #fff;
}

#quote-box {
    border-radius: 3px;
    position: relative;
    width: 500px;
    padding: 40px 50px;
    display: grid;
    background-color: #fff;
}

.quote-text{
        text-align: center;
        width: 500px;
        height: auto;
        clear: both;
        font-weight: 500;
        font-size: 1.75em;
}

.quote-text i{
    font-size: 1em;
    margin-right:0.4em;
}

.quote-author{
    width: 500px;
    height: auto;
    clear: both;
    padding-top: 20px;
    font-size: 1em;
    text-align: right;
}

.buttons{
    width: 500px;
    margin: auto;
    display: block;
}

@media (max-width: 550px) {
    #heading-box{
        text-align: center;
        margin-bottom: 5px;
        border-radius: 3px;
        position: relative;
        width: 350px;
        height: 20px;
        padding: 10px 50px;
        display: flexbox;
        background-color: #fff;
    }
    
    #quote-box {
        border-radius: 3px;
        position: relative;
        width: 350px;
        padding: 40px 50px;
        display: grid;
        background-color: #fff;
    }
    
    .quote-text{
            text-align: center;
            width: 350px;
            height: auto;
            clear: both;
            font-weight: 500;
            font-size: 1.75em;
    }
    
    .quote-text i{
        font-size: 1em;
        margin-right:0.4em;
    }
    
    .quote-author{
        width: 350px;
        height: auto;
        clear: both;
        padding-top: 20px;
        font-size: 1em;
        text-align: right;
    }
    .buttons{
        width: 350px;
        margin: auto;
        display: block;
    }

  }

.button{
    height: 38px;
    border: none;
    border-radius: 3px;
    color: #fff;
    background-color: #333;
    outline: none;
    font-size: 0.85em;
    padding: 8px 18px 6px 18px;
    margin-top: 30px;
    opacity: 1;
    cursor: pointer;
}

.button:hover{
    opacity: 0.8;
}

#tweet-quote,#tumblr-quote{
    float: left;
    padding: 0em;
    padding-top: 8px;
    text-align: center;
    font-size: 1.2em;
    margin-right: 5px;
    height: 30px;
    width: 40px;
}

#new-quote{
    float: right;
}
